<div class="container-fluid">

    <div class="card" style="width: 50%;margin: 5px auto;">
        <div class="card-header">
            Add New Devis
        </div>
        <div class="card-body">
            <form>
                <div class="form-group">
                    <label for="amount">AMOUNT</label>
                    <input [(ngModel)]="devis.amount" id="amount" name="amount" class="form-control" type="text">
                </div>


                <div class="form-group">
                    <label for="numPieces">NBPIECES</label>
                    <input [(ngModel)]="devis.numPieces" id="numPieces" name="numPieces" class="form-control" type="text">
                </div>

                <div class="form-group">
                    <label for="dateDevis">DATEDEVIS</label>
                    <input [(ngModel)]="devis.dateDevis"  id="dateDevis" name="dateDevis" class="form-control" type="text">
                </div>
               
              

                <button class="btn btn-primary" (click)="saveDevis()">Save</button>
            </form>
        </div>
        <div class="card-footer" *ngIf="showAlert">
            <div class="alert alert-success">
                <button (click)="closeAlert()" class="close">
                    &times;
                </button>
                <strong>Success</strong>
            </div>
        </div>
    </div>

